* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F1F5F9;
}
.todo-wrapper {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

}
.todo-heading {
  padding: 20px 0;
  display: grid;
  grid-gap: 10px;
  border-bottom: 1px solid #E2E8F0;
}
.todo-title {
  font-size: 30px;
  font-weight: 700;
}
.todo-task-counter {
  font-size: 20px;
  font-weight: 500;
}
.todo-content {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  border-bottom: 1px solid #E2E8F0;
}
.todo-list {
  padding: 20px 0;
}
.todo-task {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  list-style: none;
}
.todo-task-content {
  display: flex;
  align-items: center;
}
.todo-task-text {
  margin-left: 10px;
}